{{!-- <li> {{name}} 
    
    <button class="" data-id="{{id}}" data-devoured="{{eat}}">
         {{#if devoured}}YUM!{{else}}EAT
        ME!{{/if}} </button> 
        
        
        <button class="trashburger" data-id="{{this.id}}">DELETE!</button>
        
    </li>  --}}

    <img class="bd-placeholder-img card-img-top img-fit-horizontal" width="100%" height="225"
                            src="{{{imageName}}}"/>

                        <div class="card-body">
                            <h2 class="card-text">{{{userInput}}}</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                
                            </div>
                        </div>